<%= render 'flash' %>
<div class ='container text-center'>
<ul class="list-group">
  <li class="list-group-item h4"><%= link_to "View Your Journals", user_journals_path(@user), class: 'btn btn-outline-info btn-lg' %></li>
  <li class="list-group-item h4"><%= link_to "View All of Your Moods", user_moods_path(@user), class: 'btn btn-outline-info btn-lg' %></li>
  <li class="list-group-item h4"><%= link_to "Edit Your Account", edit_user_path(@user), class: 'btn btn-outline-info btn-lg' %></li>
  <li class="list-group-item h4"><%= link_to "Delete Your Account", @user, method: 'delete', data: {confirm: "Are you sure? All of your journals and daily updates will be deleted, and cannot be recovered..."}, class: 'btn btn-outline-danger btn-sm' %></li>
</ul>
</div>