<%= render 'errors' %>
<div class="container">
<hr>
<h3 class='display-4 text-center'>How Was Your Day?</h3>
<hr>
<%= form_for [@journal, @day] do |f| %>
<div class='form-group'>
  <%= f.label :description, "Describe Your Day: (250 characters max)", class: 'h4' %><br>
  <%= f.text_area :description, class: 'form-control'%>
</div>
<div class='form-group'>
  <%= f.label :mood_id, "How Was Your Mood?", class: 'h4'%>
  <%= f.collection_select(:mood_id, Mood.all, :id, :mood_type, {include_blank: true}, {class:'form-control'} )%>
</div>
<div class='form-group'>
  <%= f.fields_for :mood do |m| %><br>
    <%= m.label :mood_type, "Create a New Mood:", class: 'h4'%>
    <%= m.text_field :mood_type, class: 'form-control'%>
  <% end %><br>
</div>
  <%= f.hidden_field :journal_id, value: @journal.id %>
  <%= f.hidden_field :user_id, value: @user.id %>
  <%= f.submit "Submit Daily Update", class: 'btn btn-info btn-lg' %>
<% end %>
</div>