<%= render 'flash' %>
<div class='container'>
<h2><%= @journal.title %></h2>
<h4 class='text-muted'><em><%= @journal.mantra %></em></h4>
<p><%=  link_to "Add Today's Journal Entry", new_journal_day_path(@journal), class: 'btn btn-info' %>
<h5>Your Most Recent Entries:</h5>
<ul class="list-group">
<% @recent_days.each do |day| %>
  <li class="list-group-item"><%= link_to day.title_date, journal_day_path(@journal, day) %></li>
<% end %>
</ul><br>
<p><%= link_to "View All Previous Entries", journal_days_path(@journal), class: 'btn btn-dark' %>
<p><%= link_to "Edit This Journal", edit_journal_path(@journal), class: 'btn btn-info' %>
<p><%= link_to "Delete This Journal", user_journal_path(@user, @journal), method: 'delete', class: 'btn btn-danger', data: {confirm: "Are you sure? If you delete this journal, you will delete all associated daily updates..."}%>
</div>