<!DOCTYPE html>
<html>
  <head>
    <title>OneLineADay</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <nav class="navbar navbar-light bg-light">
      <%= link_to "One Line A Day Journal", root_path, class:"navbar-brand"%> 
      <% if logged_in? %>
        <%= form_with(url: '/logout', method: 'post') do %><%= submit_tag "Log Out", class: "btn btn-light"%><% end %>
      <% end %>
      <small class="h5">and a photo...and a mood...</small>
    </nav>
  </header>
    <%= yield %>
  </body>
</html>
